<h3>{{model.name}}</h3>

<strong>Biography</strong>: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique amet cupiditate reiciendis in voluptatum accusamus, vel, error ratione culpa repellendus cum quisquam. Amet quaerat fugiat, recusandae ipsa ducimus unde laudantium assumenda perferendis. Expedita ea quas at recusandae tempore assumenda quia nesciunt hic vitae sint autem ipsa, enim aut eveniet a quos ex harum totam. Totam optio voluptatem, assumenda vitae facere sed facilis repellendus expedita dolor nesciunt culpa tempora id odio molestias voluptatibus dicta doloribus animi sit eius quas aut labore?

<h4>Published titles:</h4>
<ul>
  {{#each model.books as |book|}}
    {{book-cover book=book blurBackground=(route-action "blurBackground")}}
  {{/each}}
</ul>
